trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  nodeVersion: '18.x'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '$(nodeVersion)'
    displayName: 'Install Node.js'

  - script: npm ci
    displayName: 'Install dependencies'

  - script: npm run build
    displayName: 'Build application'

  - task: AzureStaticWebApp@0
    inputs:
      azure_static_web_apps_api_token: $(deployment_token)
      app_location: '/'
      output_location: 'build'
      skip_app_build: true
